.auth {
	padding: 150px;
	background-color: #fdfdfd;
	border-radius: 10px;
	&__form {
		padding: 20px 0;
	}
}
.form {
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	align-items: center;
	gap: 15px;
	&__button {
		color: #222222;
		background-color: #f9c0a0;
	}
}

.label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
