.header {
	padding: 10px 15px;
	font-size: 18px;
	&__container {
		padding: 10px 15px;
		background-color: #fff;
	}
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__link {
		padding: 3px 10px;
		border-radius: 5px;
		&--active {
			background-color: #f9dbca;
		}
	}
}
