.links {
  font-weight: 500;
	font-size: 18px;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
}

.item {
	padding: 14px 10px;
	border-radius: 10px;
	transition: all ease 0.3s;
	background-color: rgba(229, 229, 229, 1);
}

.item:hover {
	background-color: rgba(229, 229, 229, 0.55);
}

.link {
	display: flex;
	align-items: center;
	gap: 10px;
}
