.header {
	padding: 10px 0;
}

.nav {
	font-weight: 400;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&Item {
		padding: 7px;
		border-radius: 5px;
	}

	&Link {
		padding: 7px;
		border-radius: 5px;
		&:hover {
			background-color: rgba(248, 177, 120, 0.5);
		}
		&Active {
			font-weight: 500;
			background-color: rgba(248, 177, 120, 0.5);
		}
	}
	&Button {
		font-weight: 400;
		padding: 7px;
		border-radius: 5px;
		&:hover {
			background-color: rgba(248, 177, 120, 0.5);
		}
	}
}
