.header {
	padding: 10px 0;
}

.nav {
	font-weight: 500;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menuItem {
	padding: 7px;
	border-radius: 5px;
}

.menuLink {
	padding: 7px;
	border-radius: 5px;
}

.menuLink:hover {
	background-color: rgba(248, 177, 120, 0.5);
}

.menuLinkActive {
	background-color: rgba(248, 177, 120, 0.5);
}

.menuButton {
	font-weight: 500;
	padding: 7px;
	border-radius: 5px;
}

.menuButton:hover {
	background-color: rgba(248, 177, 120, 0.5);
}
